---
import "../styles/footer.css"
---

<footer class="footer">
    <p>
        <b>©</b>
        <a href="https://github.com/dariomvg/chat-assistent-docs" target="_blank" rel="noopener noreferrer">ChatAssistent</a>
        <b>2025</b>
        from 
         <a href="https://www.npmjs.com/package/kit-components-ui" target="_blank" rel="noopener noreferrer">Kit-components-ui</a> 
        
    </p>
</footer>


