---
import "../styles/header.css"
---

<header class="header">
    <nav class="nav">
        <a href="#" class="link-nav">Principal</a>
        <a href="#uso" class="link-nav" >Uso</a>
        <a href="#config" class="link-nav">Configuración</a>
        <a href="#vista-previa" class="link-nav">Vista previa</a>
    </nav>
</header>
