---
import "../styles/main.css"
---


<section class="section-main">
    <h1 class="title-section-main">Chat Asistente Web</h1>
    <h2 class="subtitle-section-main">Chat asistente para tus aplicaciones: 100% personalizable</h2>
    <div class="box-gradient bg-1"></div>
    <div class="box-gradient bg-2"></div>
</section>



