---
import "../styles/use.css"
---


<section class="section-uses" id="uso">
    <h3 class="title-section-uses">Uso</h3>
    <section class="section-content-uses">
        <div class="container-code-use">
            <code class="code">
                <i class="i-3">npm install chat-assistent</i>
            </code>
        </div>
        <div class="container-code-use">
            <code class="code c-1">
                <b class="b-1">import</b>
                <i class="i-1">{`{ ChatAssitent }`}</i>
                <b class="b-2">from</b>
                <i class="i-2">"chat-assistent"</i>
            </code>
            <code class="code c-1">
               <i class="i-1">export default</i> 
               <i class="i-2">function</i>
               <b class="b-2">App ()</b> 
               <i class="i-1">{`{`}</i> 
            </code>
            <div class="container-code">
                <code class="code c-1">
                    <b class="b">return</b>
                    <b class="b-1">{`<`}</b>
                    <b class="b-1">ChatAssistent</b> 
                    <i class="i-2">{`options={} messageMain="" theme=""`}</i>
                    <b class="b-1">{`/>`}</b>
                </code>
            </div>  
            <code class="code c-1">
               <i class="i-1">{`}`}</i> 
            </code>  
    </div>
    <div class="container-component">
        <h4 class="title-component">Componente: ChatAssitent</h4>
        <p class="content-component">
            Este es el chat principal para tu aplicación con todos sus componentes y funcionalidades 
        </p>
      
    </div>
    </section>
</section>